// --- COLORS ---

$color-primary: #0984e3;
$color-secondary: #00b894;
$color-danger: #f53b57;

// -- base --
$color-base-1: #FFFFFF;
$color-base-2: #495C83;
$color-base-3: rgba(50, 138, 241, .07);
$color-text: #ccc;

// -- other --
$color-bg-primary: #151f32;

// --- Typography ---

// -- fonst size --
$fs-hero-title: 3.75em; //60px
$fs-section-title: 2.625em; //42px
$fs-xl: 1.5em; //24px
$fs-lg: 1.25em; //20px
$fs-md: 1em; //16px
$fs-sm: 0.75; //12px


// --- Box shadow ---
$box-shadow: 0px 0px 0px 0px rgba($color-base-3, 0.2);