//! PADDING 
.pt-sm {
    padding-top: 2rem !important;
}

.pt-md {
    padding-top: 3rem !important;
}

.pt-lg {
    padding-top: 4rem !important;
}

.pt-xl {
    padding-top: 5rem !important;
}

.pb-sm {
    padding-bottom: 2rem !important;
}

.pb-md {
    padding-bottom: 3rem !important;
}

.pb-lg {
    padding-bottom: 4rem !important;
}

.pb-xl {
    padding-bottom: 5rem !important;
}

.p-sm {
    padding: 2rem !important;
}

.p-md {
    padding: 3rem !important;
}

.p-lg {
    padding: 4rem !important;
}

.p-xl {
    padding: 5rem !important;
}

//! MARGIN

// Margin top
.mt-xxs {
    margin-top: .5rem !important;
}

.mt-xs {
    margin-top: 1rem !important;
}

.mt-sm {
    margin-top: 2rem !important;
}

.mt-md {
    margin-top: 3rem !important;
}

.mt-lg {
    margin-top: 4rem !important;
}

.mt-xl {
    margin-top: 5rem !important;
}

// Margin left
.ml-xxs {
    margin-left: .5rem !important;
}

.ml-xs {
    margin-left: 1rem !important;
}

.ml-sm {
    margin-left: 2rem !important;
}

.ml-md {
    margin-left: 3rem !important;
}

.ml-lg {
    margin-left: 4rem !important;
}

.ml-xl {
    margin-left: 5rem !important;
}

// Margin bottom
.mb-xxs {
    margin-bottom: .5rem !important;
}

.mb-xs {
    margin-bottom: 1rem !important;
}

.mb-sm {
    margin-bottom: 2rem !important;
}

.mb-md {
    margin-bottom: 3rem !important;
}

.mb-lg {
    margin-bottom: 4rem !important;
}

.mb-xl {
    margin-bottom: 5rem !important;
}

// Margin right
.mr-xxs {
    margin-right: .5rem !important;
}

.mr-xs {
    margin-right: 1rem !important;
}

.mr-sm {
    margin-right: 2rem !important;
}

.mr-md {
    margin-right: 3rem !important;
}

.mr-lg {
    margin-right: 4rem !important;
}

.mr-xl {
    margin-right: 5rem !important;
}

// Margin top and bottom
.my-xxs {
    margin-top: .5rem !important;
    margin-bottom: .5rem !important;
}

.my-xs {
    margin-top: 1rem !important;
    margin-bottom: 1rem !important;
}

.my-sm {
    margin-top: 2rem !important;
    margin-bottom: 2rem !important;
}

.my-md {
    margin-top: 3rem !important;
    margin-bottom: 3rem !important;
}

.my-lg {
    margin-top: 4rem !important;
    margin-bottom: 4rem !important;
}

.my-xl {
    margin-top: 5rem !important;
    margin-bottom: 5rem !important;
}

// Margin left and right
.mx-xxs {
    margin-left: .5rem !important;
    margin-right: .5rem !important;
}

.mx-xs {
    margin-left: 1rem !important;
    margin-right: 1rem !important;
}

.mx-sm {
    margin-left: 2rem !important;
    margin-right: 2rem !important;
}

.mx-md {
    margin-left: 3rem !important;
    margin-right: 3rem !important;
}

.mx-lg {
    margin-left: 4rem !important;
    margin-right: 4rem !important;
}

.mx-xl {
    margin-left: 5rem !important;
    margin-right: 5rem !important;
}

// Margin all
.m-xxs {
    margin: .5rem !important;
}

.m-xs {
    margin: 1rem !important;
}

.m-sm {
    margin: 2rem !important;
}

.m-md {
    margin: 3rem !important;
}

.m-lg {
    margin: 4rem !important;
}

.m-xl {
    margin: 5rem !important;
}

// TEXT
.text-center {
    text-align: center;
}