.header {
    background: transparent;
    height: 80px;
    width: 100%;
    padding: 5px 20px;

    &__logo {
        width: 60px;
        height: 60px;
    }

    &__nav {
        margin-left: 20px;
    }

    &__menu-link {
        color: $color-base-1;
        font-size: $fs-lg;
        font-weight: 600;
    }
}